@model IEnumerable<QuieroUn10.Models.StudentHasSubject>

@{
    int contador = 0;
    int aux = 0;
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/cards.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<h1 class="text-center">Asignaturas</h1>
@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.errorMessage
    </div>
}
@if (ViewBag.successMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.successMessage
    </div>
}
@if (ViewBag.role == "ADMIN")
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InscriptionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InscriptionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name)
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-right">

        <a asp-action="Create"> <img src="~/images/plus.png" alt="Añadir asignatura" style="width:2%" />Añadir Asignatura</a> |
        <a asp-action="Create" asp-controller="Subjects">Crear asignatura nueva</a>
    </p>

    <section class="main">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-sm-4">
                        <div class="wrap wrap--1 ">
                            <a asp-action="Details" asp-route-id="@item.ID" class="text-decoration-none" style="color:black">
                                <div class="containe containe--1 border grosor @ViewBag.imagenes[contador]">
                                    <div>
                                        <p>@item.Subject.Acronym</p>
                                    </div>
                                    <div>
                                        <p style="font-size:14px">@item.Subject.Name</p>
                                    </div>
                                    <div class="text-center">
                                        @if (item.Docs == null)
                                        {
                                            <i class="far fa-file-alt mr-2">0</i>
                                        }
                                        else
                                        {
                                            <i class="far fa-file-alt mr-2">@item.Docs.Count</i>
                                        }

                                        @if (ViewBag.TasksProximas == null)
                                        {
                                            <i class="fas fa-tasks">0</i>
                                        }
                                        else
                                        {


                                            <i class="fas fa-tasks">@ViewBag.TasksProximas[aux].Count</i>
                                            aux++;
                                        }

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>


                    contador++;
                    if (contador == ViewBag.imagenes.Count)
                    {
                        contador = 0;
                    }
                }

            </div>
        </div>
    </section>
}




