@model QuieroUn10.Dtos.FormSubjectDto

@{
    ViewData["Title"] = "Asignaturas";
}

@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.errorMessage
    </div>
}
@if (ViewBag.successMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.successMessage
    </div>
}

<h1 class="text-center">Listado de todas las asignaturas</h1>



<form asp-action="Index" class="mb-3 mt-3 shadow-lg p-3 mb-5 bg-white rounded">
    <label>Name:</label>
    <input asp-for="Name" class="border border-dark rounded-pill" />
    <label>Course:</label>
    <input asp-for="Course" class="border border-dark rounded-pill" />
    <br />
    <label>Formal Subject:</label>
    <i class="fas fa-check" title="Asignaturas formales"></i>
    <input asp-for="Formal_SubjectT" />
    <i class="fas fa-times" title="Asignaturas no formales"></i>
    <input asp-for="Formal_SubjectF" />
    <br />

    <label>Student Create:</label>
    <i class="fas fa-check" title="Asignaturas creadas por un alumno"></i>
    <input asp-for="Student_CreateT" />
    <i class="fas fa-times" title="Asignaturas que no han sido creadas por un alumno"></i>
    <input asp-for="Student_CreateF" />
    <br />
    <button type="submit" class="border-0 bg-white" > <i class="far fa-check-circle" title="Mostrar resultados"></i>   </button>
    
    
    <a asp-action="Index"><i class="far fa-trash-alt text-danger" title="Limpiar formulario"></i></a>
</form>


<p class="float-left d-inline">
    <a asp-action="Create"><i class="far fa-plus-square text-dark" title="Crear una nueva" ></i></a> |
</p>
<form asp-action="ContactPDF" class="float-left d-inline">
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Formal_SubjectT" />
    <input type="hidden" asp-for="Formal_SubjectF" />
    <input type="hidden" asp-for="Student_CreateT" />
    <input type="hidden" asp-for="Student_CreateF" />

    <button type="submit" class="border-0 bg-white"> <i class="fas fa-print" title="Imprimir listado"></i>   </button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Course
            </th>
            <th>
                Acronym
            </th>
            <th>
                Formal Subject
            </th>
            <th>
                Student Create
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in ViewBag.subjects)
        {
            <tr>
                <td>
                    @subject.Name
                </td>
                <td>
                    @subject.Course
                </td>
                <td>
                    @subject.Acronym
                </td>
                <td>
                    @if (subject.Formal_Subject)
                    {
                        <input type="checkbox" name="formalSubject" checked="checked" disabled="disabled" />
                    }
                    else
                    {
                        <input class="check-box" type="checkbox" name="formalSubject" disabled="disabled" />
                    }
                </td>
                <td>
                    @if (subject.Student_Create)
                    {
                        <input type="checkbox" name="studentCreate" checked="checked" disabled="disabled" />
                    }
                    else
                    {
                        <input class="check-box" type="checkbox" name="studentCreate" disabled="disabled" />
                    }

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@subject.ID"><i class="fas fa-edit text-primary" title="Editar "></i></a> |
                    <a asp-action="Details" asp-route-id="@subject.ID"><i class="fas fa-info-circle text-success" title="Detalles"></i></a> |
                    <a asp-action="Delete" asp-route-id="@subject.ID"><i class="fas fa-trash-alt text-danger" title="Eliminar"></i></a>
                    @if (subject.Student_Create && !subject.Formal_Subject)
                    {
                        <a asp-action="HabDesH" asp-route-id="@subject.ID"><i class="far fa-bookmark text-warning" title="Habilitar"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
