@model QuieroUn10.Models.Task

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentHasSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentHasSubject.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" asp-route-eli="@ViewBag.eli"><i class="fas fa-edit text-primary" title="Editar tarea"></i></a> |
    <a asp-action="Details" asp-controller="StudentHasSubjects" asp-route-id="@ViewBag.eli"><i class="fas fa-home" title="Volver a la asignatura"></i></a>
</div>
