@model QuieroUn10.Dtos.TaskDto

@{
    ViewData["Title"] = "Editar tarea";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<h1>Edit</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Nombre</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Descripción</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Comienzo</label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Fin</label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label  class="control-label">Tipología</label>
                <select asp-for="Type" class="form-control">
                    @foreach (var type in ViewBag.Type)
                    {
                        <option value="@type">@type</option>

                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@ViewBag.id" asp-route-eli="@ViewBag.eli"><i class="far fa-arrow-alt-circle-left text-primary" title="Volver a los detalles"></i></a> |
    <a  asp-controller="StudentHasSubjects" asp-action="Details" asp-route-id="@ViewBag.eli" ><i class="fas fa-home" title="Volver a la asignatura"></i></a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
