@model IEnumerable<QuieroUn10.Dtos.StudentDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre de usuario
            </th>
            <th>
               Contraseña
            </th>
            <th>
                Confirmar Contraseña
            </th>
            <th>
                Email
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Fecha de nacimiento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><i class="fas fa-edit text-primary" title="Editar "></i></a> |
                <a asp-action="Details" asp-route-id="@item.ID"><i class="fas fa-info-circle text-success" title="Detalles"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.ID"><i class="fas fa-trash-alt text-danger" title="Eliminar"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
